body{
  display: flex;
  margin:0;
  flex-direction: column;
  min-height: 100vh;
  background: rgb(192,192,192); 
  font-family: Helvetica;
}

a {
  text-decoration: none;
  color: black;
}

main > *, header, footer {
  margin: 4px;
  padding: 5px;
  border-radius: 7px;
}

main {
  display: flex;
  flex-basis: 800px;
}

article {
  flex: 4 0 70%;
  background: #ecf0f1;
  min-height: 80vh;
}

nav {
  flex: 1 1 30%;
  flex-direction: column;
  background: #95a5a6;
  order: -1;
  max-height: 80vh;
}

footer {
  flex: 1 1 20%;
  background: #1abc9c;
  flex-basis: 100px;
  min-height: 12vh;
}

header a {
 font-size: 20px;
}

@media all and (max-width: 640px) {
  main {
    flex-direction: column;
    flex-grow: 1;
  }
  
  nav {
    order: 0;
  }
  header, footer {
    flex-basis: 50px;
  }
}