* {
  margin: 0;
  padding: 0;
}
body {
  background: #232323;
  padding: 10px;
}
#wrap {
  display: flex;
  width: 90%;
  height: auto;
  box-sizing: border-box;
  margin: 0 auto;
  flex-wrap: wrap;
  background: #232323;
}

.main{
  width: 73%;
  height: 600px;
  background: #d56c6c;
  margin-left: 10px;

}
.nested-items {
  display: flex;
  width: 25%;
  flex-wrap: wrap;
  align-content: space-between;
} 
 .title {
  background: yellow;
  width: 100%;
  height: 25%;
}

.side-nav {
  background: #4add69;
  width: 100%;
  height: 73%;
}

.footer {
  margin-top: 10px;
  width: 100%;
  height: 190px;
  background: skyblue;
}

