* {
  margin: 0;
  padding: 0;
}
body {
  background: #232323;
  padding: 10px;
}
#wrap {
  display: flex;
  width: 90%;
  height: auto;
  box-sizing: border-box;
  margin: 0 auto;
  flex-wrap: wrap;
  background: #232323;
  justify-content: space-between;
}

.main{
  width: 73%;
  height: 600px;
  background: #d56c6c;

}
.nested-items {
  display: flex;
  width: 25%;
  flex-wrap: wrap;
  align-content: space-between;
} 
 .title {
  background: yellow;
  width: 100%;
  height: 150px;
}

.title h3{
  text-align: center;
  font-size: 70px;
  margin-top: 40px;
  font-family: 'Raleway', sans-serif;
}

.side-nav {
  background: #4add69;
  width: 100%;
  height: 430px;
  overflow: scroll;
}

.side-nav .coin{
  text-align: center;
}

.footer {
  margin-top: 10px;
  width: 100%;
  height: 190px;
  background: skyblue;
}

@media all and (max-width: 640px) {
  .main, .footer {
    width: 100%;
    margin-top: 10px;
    margin-left: 0px;
  }
  .nested-items {
    height: 500px;
    width: 100%;
  }
  .title h3{
    text-align: center;
    font-size: 100px;
    margin-top: 10px;
  }
}

