.images{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  height: 10%;
}

.Google, .Twitter, .Reddit{
  width: 120px;
  height: 120px;
  border-radius: 10px;
  background: white;
}

main .welcome, .crypto, .eur, .usd{
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
}

.price {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  width: 90%;
}