.navbar {
  margin-bottom: 1rem;
}

.navbar a {
  text-decoration: none;
  font-weight: bold;
  opacity: 0.9;
  color: orange;
  font-size: 60px;

}

.navbar a:hover{
  opacity: 1;
}

@media (max-width: 700px){
  .navbar a{
    font-size: 40px;
  }
  }

@media (max-width: 500px){
.navbar a{
  font-size: 30px;
}
}